form {
    margin-top: 10px;
    padding: 20px;
}

.table-data{
    padding: 20px;
}

.container-body{
    margin-top: 25px;
}

.form-control{
    margin-bottom: 40px;
}

.form-group {
    padding: 10px;
}

.container-content{
    margin: 40px 0;
}